.tooltip {
  position: relative;
  display: flex;
  margin: 0;
  min-width: 0;
  font-family: "InterRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #ffffff;
  padding-top: 12px;
  display: flex;
  align-items: center;
}
.tooltip_button {
  border: unset;
  background-color: unset;
}

.tooltip_button:hover ~ .tooltip_container {
  opacity: 1;
}

.tooltip_container {
  transition: opacity 0.2s cubic-bezier(0.29, -0.32, 0.68, 0.41);
  position: absolute;
  top: -80%;
  left: -161px;
  opacity: 0;
}

.tooltip_text {
  background: rgba(33, 33, 33, 0.8);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 3px;
  padding: 10px 12px;
  display: flex;
  justify-content: left;
}

.tooltip_text_buttom {
  width: 0;
  height: 0;
  margin-left: 66%;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 0.4em solid rgba(33, 33, 33, 0.8);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
