html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#__next {
  width: 100%;
}
@font-face {
  font-family: 'InterMedium';
  src: url('../fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: 'InterBold';
  src: url('../fonts/Inter-Bold.ttf');
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #F7F7FB;
  }
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  outline: 2px dashed #5d5d5d;
  border-radius: 5px;
  outline-offset: -12px;
  background-color: #e0f2f7;
  font-family: 'Segoe UI';
  color: #1f3c44;
}

#upload-container img {
  width: 40%;
  margin-bottom: 20px;
  user-select: none;
}
#upload-container label {
  font-weight: bold;
}

#upload-container label:hover {
  cursor: pointer;
  text-decoration: underline;
}
#upload-container div {
  position: relative;
  z-index: 10;
}
.textUpload{
  margin-top: 20px;
}
.popup{
  width: 500px;
  height: 500px;
  background-color: #e0f2f7;
  border-radius: 5px;
  padding: 20px;
}
.popup .close{
  border-radius: 5px;
  padding: 0 5px;
  color: white;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
}
.popup .buttons > button {
  width: 100%;
  margin-bottom: 30px;
}
.popup .buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}